<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">
<head>
    <meta charset="UTF-8">
    <title>Owner Details</title>
</head>
<body>
    <h1 th:text="'Owner Details'">Owner Details...</h1>
    <table class="table table-striped" th:object="${owner}">
        <tr>
            <th>Name</th>
            <td><b th:text="*{firstName + ' ' + lastName}"></b></td>
        </tr>
        <tr>
            <th>Address</th>
            <td th:text="*{address}"></td>
        </tr>
        <tr>
            <th>City</th>
            <td th:text="*{city}"></td>
        </tr>
        <tr>
            <th>Telephone</th>
            <td th:text="*{telephone}"></td>
        </tr>
    </table>
    <a th:href="@{{id}/edit(id=${owner.id})}" class="btn btn-default">Edit</a>
    <a th:href="@{{id}/pets/new(id=${owner.id})}" class="btn btn-default">Add New Pet</a>

    <br />
    <br />
    <br />
    <h2>Pets and Visits</h2>
    <table class="table table-striped">
        <tr th:each="pet: ${owner.pets}">
            <td>
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd th:text="${pet.name}">Name...</dd>
                    <dt>Birthdate</dt>
                    <dd th:text="${pet.birthDate}">Birthdate...</dd>
                    <dt>Type</dt>
                    <dd th:text="${pet.type?.name}">Type...</dd>
                </dl>
            </td>
            <td>
                <table class="table-condensed">
                    <thead>
                        <tr>
                            <th>Visit Date</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="visit: ${pet.visits}">
                        <td th:text="${visit.visitDate}">Visit Date...</td>
                        <td th:text="${visit.description}">Description...</td>
                    </tr>
                    <tr>
                        <td><a th:href="@{__${owner.id}__/pets/__${pet.id}__/edit}">Edit Pet</a></td>
                        <td><a th:href="@{__${owner.id}__/pets/__${pet.id}__/visits/new}">Add Visit</a></td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>